<header>
    <div class="agileits_header">
        <div class="container">
            <div class="w3l_offers">
                <p>SALE UP TO 70% OFF. USE CODE "SALE70%" . <a routerLink="/products">SHOP NOW</a></p>
            </div>
            <div class="agile-login">
                <ul>
                    <li *ngIf="!isSignedIn"><a routerLink="register"> Create Account </a></li>
                    <li *ngIf="!isSignedIn"><a routerLink="login">Login</a></li>
                    <li *ngIf="isSignedIn"><a routerLink="profile">Profile</a></li>
                    <li><a routerLink="contact">Help</a></li>
                    <li *ngIf="isSignedIn"><a (click)="signOut()" routerLink="profile">Log out</a></li>

                </ul>
            </div>
            <div class="product_list_header">
                <form routerLink='/checkout' action="#" method="post" class="last">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="display" value="1">
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+0123) 234 567</li>

                </ul>
            </div>
            <div class="w3ls_logo_products_left">
                <h1><a routerLink="">super Market</a></h1>
            </div>
            <div class="w3l_search">
                <form>
                    <input type="text" name="Search" placeholder="Search for a Product..." [(ngModel)]="searchValue" required="">
                    <button (click)="getvalue(searchValue)" class="btn btn-default search" aria-label="Left Align">
                <i class="fa fa-search" aria-hidden="true"> </i>
            </button>
                    <div class="clearfix"></div>
                </form>
            </div>

            <div class="clearfix"> </div>
        </div>
        <!-- navigation -->
        <div class="navigation-agileits">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav">
                            <li class="active"><a routerLink="" class="act">Home</a></li>
                            <!-- Mega Menu -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pizza<b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <h6>All Groceries</h6>
                                                <li><a c="/about">Pizza sub1</a></li>
                                                <li><a routerLink="/">Pizza sub2</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </ul>
                            </li>
                            <li><a routerLink="products">Momo</a></li>
                            <li><a routerLink="products">Noodles</a></li>
                            <li><a routerLink="products">Chilli</a></li>
                            <li><a routerLink="products">Sandwich</a></li>
                            <li><a routerLink="products">Healthy Choice</a></li>
                            <li><a routerLink="products">Rice</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- //navigation -->
    </div>
</header>