<div class="register">
    <div class="container">
        <h2>Register Here</h2>
        <div class="login-form-grids">
            <h5>profile information</h5>
            <form>
                <input [(ngModel)]="userDetails.first_name" type="text" placeholder="First Name..." required=" ">
                <input [(ngModel)]="userDetails.last_name" type="text" placeholder="Last Name..." required=" ">
                <input [(ngModel)]="userDetails.mobile_number" type="text" placeholder="phone number" required=" ">

                <div class="register-check-box">
                    <div class="check">
                        <label class="csheckbox"><input type="checkbox" name="checkbox"><i> </i>Subscribe to Newsletter</label>
                    </div>
                </div>
                <h6>Login information</h6>
                <input [(ngModel)]="userDetails.email" type="email" placeholder="Email Address" required=" ">
                <input [(ngModel)]="userDetails.password" type="password" placeholder="Password" required=" ">
                <div class="register-check-box">
                    <div class="check">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
                    </div>
                </div>
                <input (click)="createUsers(userDetails)" type="submit" value="Register">
            </form>
        </div>
        <div class="register-home">
            <a href="index.html">Home</a>
        </div>
    </div>
</div>